{% extends 'main/base.html' %}
{% block title %}
Объявления
{% endblock %}
{% block name %}Объявления{% endblock %}
{% block description %}Объявления недвижимости{% endblock %}
{% block content %}

<div class="input-group d-flex justify-content-between">
  <div>
    <form action="{% url 'search_results' %}" method="get" class="form-inline mx-sm-3 mb-2">
    <input name="q" type="search" id="form1" class="form-control" placeholder="Поиск">
    <button type="submit" class="btn btn-success">
      <i>Поиск</i>
    </button>
  </form>
  </div>
  {% if user.is_authenticated %}
  <button class="btn btn-outline-primary font-italic" id="button_create" onclick="toggleStyles()">Создать объявление</button>
  {% endif %}
</div>
      {% if user.is_authenticated %}
     
      <div class="d-none blog-main w-100" id="create_ad">
         <div class="alert alert-secondary">
            <form method="POST">
              {% csrf_token %}
              <div>
              {% for field in form %}
              <div class="form-group">
                  {{field.label_tag}}
                  <div>{{field}}</div>
                  {% if field.errors%}
                  {% for error in field.errors %}
                  <div class="alert alert-danger">
                      {{error}}
                  </div>
                  {% endfor %}
                  {% endif %}
              </div>
              {% endfor %}
              </div>
              <input type="submit" value="Отправить" class="btn btn-primary">
          </form>
      
          </div>
        </div>
          {% endif %}
     <h3>Всего объявлений: {{ count }}</h3>
          <div class="blog-main w-100 row justify-content-center">
            
{% for ad in ads %}
      <div class="card col-md-5 m-3 p-0">
  <div class="card-header w-100 d-flex justify-content-between">
    <span>
      {{ad.title}}
    </span>
    <span class="badge badge-secondary">{{ad.date}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ad.price}} рублей</h5>
    <p class="card-text">{{ad.description}}</p>
    <p class="text-success">{{ad.geo}}</p>
    <a href="{% url 'ad_detail' ad.id_ad %}" class="text-info">Смотреть подробнее</a>
  </div>
</div>
{% endfor %}
    </div><!-- /.blog-main -->
<script>
  function toggleStyles() {
    var element = document.getElementById("create_ad");
    var button = document.getElementById("button_create");
    element.classList.toggle("d-none");
    if(!element.classList.contains("d-none"))
    button.innerHTML = 'Закрыть'
    else 
    button.innerHTML = 'Создать объявление'
}

let size = 100;
let ads = document.getElementsByClassName('card-text');
  for (let i = 0; i < ads.length; i++)
  {
      let adText = ads[i].textContent;
      if (adText.length > size) {
          ads[i].innerHTML = adText.slice(0, size) + ' ...';
      }
  }
</script>
{% endblock %}
