{% extends 'main/base.html' %}
{% block title %}
Объявления
{% endblock %}
{% block name %}Объявления{% endblock %}
{% block description %}Объявления недвижимости{% endblock %}
{% block content %}


    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
       Объявления
      </h3>
      <h4>Всего объявлений: {{ count }}</h4>
{% for ad in ads %}
      <div class="card">
  <div class="card-header">
      {{ad.title}}<span class="badge badge-secondary">{{ad.date}}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ad.price}} рублей</h5>
    <p class="card-text">{{ad.description}}</p>
      <a href="{% url 'ad_detail' ad.id_ad %}" class="btn btn-primary">Смотреть подробнее</a>
  </div>
</div>
{% endfor %}
    </div><!-- /.blog-main -->

{% endblock %}
