{% extends 'main/base.html' %}
{% block title %}
Главная страница
{% endblock %}
{% block name %}Главная страница{% endblock %}
{% block description %}Объявления недвижимости, новости и другие ресурсы сайта{% endblock %}
{% block content %}
<div class="row row-ads mb-2 w-100 container" xmlns="http://www.w3.org/1999/html">
    {% for ad in ads %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{ad.price}} рублей</strong>
          <h3 class="mb-0">{{ad.title}}</h3>
          <div class="mb-1 text-muted">{{ad.date}}</div>
          <p class="card-text mb-auto">{{ad.description}}</p>
          <a href="{% url 'ad_detail' ad.id_ad %}" class="stretched-link">Продолжить читать</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

    <div class="col-md-8 blog-main">
      <h3 class="pb-4 mb-4 font-italic border-bottom">
        Новости
      </h3>
{% for new in news %}
      <div class="blog-post border p-3 m-3">
        <h2 class="blog-post-title">{{new.title}}</h2>
        <p>{{new.text}}</p>
              </div><!-- /.blog-post -->

{% endfor %}
    </div><!-- /.blog-main -->
<style>
  @media print {

body {
  margin: 0 !important;
  color: #000;
  background-color: #fff;
}
video{
  display: none;
}
.about{
  display: none !important;
}
.nav-scroller{
  display: none;
}
.main-text{
  display: none;
}
.row-ads{
  display: none;
}
}
</style>
<script>
    let size = 30;
  let ads = document.getElementsByClassName('card-text');
    for (let i = 0; i < ads.length; i++)
    {
        let adText = ads[i].textContent;
        if (adText.length > size) {
            ads[i].innerHTML = adText.slice(0, size) + ' ...';
        }
    }
</script>
{% endblock %}

